#firstpage{
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.form {
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  
}
.bg{
  background-color: black;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  opacity: 0.8;
  
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.tab-content > div:last-child {
  display:none;
}


h1 {
  text-align:center;
  color:$white;
  font-weight:$thin;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba($white,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:$main;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:$white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #fff;
  color:white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}
input{
  color: white;
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:5px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:100%;

}
#signup{
  font-size: 18px;

}
#login{
  font-size: 18px;
  font-weight: bold;
}
label{
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
}

//START RECIPE PAGE

#home{
    background-image:url(../images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 667px;
}

#h1 h1{
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    margin-top: 200px;
    color: #000;


}
.words p{
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.button{
    text-align: center;
    

}
ul li{
    display: inline;
    padding-right: 10px;
    color: #fff;
    text-decoration: none;
}
ul li:hover{
    
   
    text-decoration: none;
    
}
a{
    text-decoration: none;
}

.body{
    background-image: url(../images/bg3.jpg);
    min-height: 667px;
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    padding: 10px;
    margin-bottom: 10px;
}
    }
    #body2{
      background-image: url(../images/bg1.jpg);
    }
    #register{
      
        margin-top: 80px;
    }

}
label{
    color: gray;
}
legend{
    color: gray;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}
    
#gla{
    background-image: url(../images/bg.jpg);
    min-height: 500px;
    }

.gallery{
  margin: 0;
  padding: 0;
  height: 100%;
}



.prev{
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 45%;
  left: 10px;
  float: left;
}

.next{
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 45%;
  right: 10px;
  float: right;
}

.close{
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
  float: right;
  cursor: zoom-out;
}

#categories{
    background-image: url(../images/bg1.jpg);
    min-height: 850px;
    background-size: cover;
    background-repeat: no-repeat;

}
#container{
    background-image: url(../images/bg6.jpg);
    min-height: 850px;
    background-size: cover;
    background-repeat: no-repeat;

}

#title{
  background-color: red;
}